@page
@model EventzManager.Pages.Principal.Acoes.AdicionarModel
@{
    Layout = "/Pages/Shared/_LayoutPrincipal.cshtml";
    ViewData["Title"] = "Adicionar";
}

<div class="mb-3">
    <a class="btn btn-secondary" asp-area="" asp-page="/Principal/ListaEventos" asp-route-id="@TempData["id_usuario"]">&ang; Voltar</a>
</div>

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["erro"]
    </div>
}

<div class="acoes-form card m-auto">
    @*<div class="card-header text-center">
        
    </div>*@

    <div class="card-body">
        <form method="post" asp-page-handler="Adicionar">
            <div class="text-center mb-3">
                <p class="card-title fw-bold">Adicionar Evento</p>
                <span class="card-subtitle">Preencha as informações</span>
            </div>

            <div class="mb-3">
                <div class="card border-0">
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                    <input class="form-control" type="text" placeholder="Título Evento" asp-for="@Model.NovoEvento.Titulo" />
                </div>

                <span class="text-danger" asp-validation-for="@Model.NovoEvento.Titulo"></span>
            </div>

            <div class="mb-3">
                <textarea class="form-control" type="text" placeholder="Descrição" rows="3" asp-for="@Model.NovoEvento.Descricao"></textarea>
                <span class="text-danger" asp-validation-for="@Model.NovoEvento.Descricao"></span>
            </div>

            <div class="mb-3">
                <div class="card border-0">
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                    <input class="form-control" type="datetime-local" placeholder="Data" asp-for="@Model.NovoEvento.Data" value="" />
                </div>

                <span class="text-danger" asp-validation-for="@Model.NovoEvento.Data"></span>
            </div>

            <button class="btn btn-primary w-100" type="submit">Adicionar</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}