@page
@model EventzManager.Pages.Login.Cadastro.PreecherDadosModel
@{
    Layout = "/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Cadastro";
}

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["erro"]
    </div>
}

<div class="card m-auto">
    <div class="card-body">
        <form method="post" asp-page-handler="Cadastrar">
            <div class="text-center">
                <img class="mb-1 img-fluid" src="/imagens/logo_azul.svg" alt="Eventz Manager" arial-label="Eventz Manager" />
                <h1 class="card-title">Cadastro</h1>
            </div>

            <div class="mb-3">
                <input class="form-control" type="text" placeholder="Nome" asp-for="@Model.NovoUsuario.Nome" />
                <span class="text-danger" asp-validation-for="@Model.NovoUsuario.Nome"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="email" placeholder="Email" asp-for="@Model.NovoUsuario.Email" />
                <span class="text-danger" asp-validation-for="@Model.NovoUsuario.Email"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Senha" asp-for="@Model.NovoUsuario.Senha" />
                <span class="text-danger" asp-validation-for="@Model.NovoUsuario.Senha"></span>
            </div>
            
            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Confirme senha" name="ConfirmacaoSenha" required />
            </div>

            <button class="btn btn-primary w-100 mb-4" type="submit">Cadastrar</button>
        </form>

        <div class="text-center">
            Já tem uma conta? <a class="link-primary" asp-area="" asp-page="/Login/Entrar">Entre</a>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}