<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventzManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventzManager.styles.css" asp-append-version="true" />

    <style>
        .navbar * {
            color: var(--branco-suave);
        }

        .acoes-form {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Principal/ListaEventos" asp-route-id="@TempData["id_usuario"]">
                    <img class="me-2 img-fluid" src="/imagens/logo_branco.svg" alt="LOGO" aria-label="LOGO" />
                    <span>Eventz Manager</span>
                </a>
                <div class="d-sm-inline-flex justify-content-end">
                    <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Principal/Conta/EditarDados" asp-route-id="@TempData["id_usuario"]">
                        <img class="me-2 img-fluid" src="/imagens/conta.svg" alt="CONTA" aria-label="CONTA" />
                        <span>Conta</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - EventzManager
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>