@page
@model EventzManager.Pages.Principal.Conta.AlterarSenhaModel
@{
    Layout = "/Pages/Shared/_LayoutPrincipal.cshtml";
    ViewData["Title"] = "Alterar senha";
}

<div class="row mb-3">
    <div class="col-6">
        <a class="btn btn-secondary" asp-area="" asp-page="/Principal/ListaEventos" asp-route-id="@TempData["id_usuario"]">&ang; Voltar</a>
    </div>
</div>

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["erro"]
    </div>
}

<div class="acoes-form card m-auto">
    <div class="card-body">
        <form method="post" asp-page-handler="Alterar">
            <div class="text-center">
                <p class="card-title fw-bold">Alterar senha</p>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Senha atual" asp-for="@Model.SenhaAtualView"/>
                <span class="text-danger" asp-validation-for="@Model.SenhaAtualView"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Nova senha" asp-for="@Model.NovaSenhaView" />
                <span class="text-danger" asp-validation-for="@Model.NovaSenhaView"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Confirme nova senha" asp-for="@Model.ConfirmacaoNovaSenhaView" />
                <span class="text-danger" asp-validation-for="@Model.ConfirmacaoNovaSenhaView"></span>
            </div>

             <div class="mb-2">
                <button class="btn btn-primary w-100" type="submit">Salvar</button>
             </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}